:root {
    --light: #eee;
    --timeline-link: #1890ff;
    --header-link-hover: #232B2B;
    --header-link-hover-icon: #eee;
    --timeline-date: #ced4da;
    --divider: #d9dbdd;
    --bg: #232B2B;
    --bg-project: #fff;
    --bg-rgb: 14, 18, 18;
    --nav-height: 50px;
}

.jcode-top-img {
    height: auto;
    width: 100%;
    background-color: var(--light);
    margin-top: calc(var(--nav-height) - 1px);
}

.jcode-text-content-h {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 30px;
}

.jcode-text-content {
    text-align: center;
    font-size: 1.5rem;
    color: var(--bg);
    width: 50%;
    margin: 1rem auto;
}

.jcode-text-content p {
    line-height: 48px;
}

.jcode-content {
    width: 95%;
    margin: 1rem auto;
}

.ace_editor {
    border-radius: 10px;
}

.jcode-item-wrapper {
    background-color: var(--light);
}

.jcode-item-content {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.divider-divider {
    background-color: var(--divider) !important;
    width: 60%;
}

.my-divider {
    width: 100px;
    height: 2px;
    background-color: var(--bg);
    border-radius: 5px;
    margin: 20px auto;
}